Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

install:
  stage: build
  image: cypress/base:10
  script:
  - yarn install --frozen-lockfile
  - $(yarn bin)/cypress cache path
  - $(yarn bin)/cypress cache list
  - $(yarn bin)/cypress verify

suite lint:
  stage: lint
  script:
  - yarn workspace @trezor/suite lint

suite type check:
  stage: type check
  allow_failure: true
  script:
  - yarn workspace @trezor/suite type-check

suite test unit:
  stage: test
  script:
  - env
  - yarn workspace @trezor/suite test

suite-web lint:
  stage: lint
  script:
  - env
  - yarn workspace @trezor/suite-web lint

suite-web type check:
  stage: type check
  allow_failure: true
  script:
  - yarn workspace @trezor/suite-web type-check

suite-web build:
  stage: build
  variables:
    PACKAGE_NAME: suite-web
  script:
  - assetPrefix=/${PACKAGE_NAME}/${CI_BUILD_REF_NAME} yarn workspace @trezor/suite-web build
  artifacts:
    expire_in: 15 minutes
    paths:
    - $PACKAGE_PATH_SUITE_WEB/build

suite-web deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: suite-web
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/suite-web/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${DEPLOY_DIRECTORY}
  dependencies:
  - suite-web build
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: $BASE_REVIEW_URL/${CI_BUILD_REF_NAME}
  ...

suite-native lint:
  stage: lint
  script:
  - env
  - yarn workspace @trezor/suite-native lint

suite-native type check:
  stage: type check
  allow_failure: true
  script:
  - yarn workspace @trezor/suite-web type-check

suite-desktop lint:
  stage: lint
  script:
  - env
  - yarn workspace @trezor/suite-desktop lint

suite-desktop type check:
  stage: type check
  allow_failure: true
  script:
  - yarn workspace @trezor/suite-desktop type-check

added sweet readme
  packages/componentsStorybookNative/README.md
Due: none

Fix select: options.reduce is not a function #165
  packages/components-storybook/src/stories/components/form.tsx
Due: none

fix eslint
  packages/components/.eslintignore
  packages/components/.eslintrc
  packages/components/.eslintrc.js
  packages/components/package.json
  packages/components/src/components/LanguagePicker/index.tsx
  packages/components/src/components/Loader/index.native.tsx
  packages/components/src/components/Loader/index.tsx
  packages/components/src/components/Notification/index.tsx
  packages/components/src/components/Select/index.tsx
Due: install

prefix goto routes with assetPrefix
  packages/suite/src/actions/suite/routerActions.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

Update README.md
  packages/componentsStorybookNative/README.md
Due: none

fix some proptypes
  packages/components/src/components/Loader/index.tsx
  packages/components/src/components/Notification/index.tsx
Due: install

Add first reducers to wallet
  packages/suite/package.json
  packages/suite/src/actions/wallet/constants/index.ts
  packages/suite/src/actions/wallet/constants/signVerify.ts
  packages/suite/src/actions/wallet/signVeifyActions.ts
  packages/suite/src/middlewares/wallet/index.ts
  packages/suite/src/reducers/store.ts
  packages/suite/src/reducers/wallet/index.ts
  packages/suite/src/reducers/wallet/signVerifyReducer.ts
  packages/suite/src/utils/wallet/eth.ts
  packages/suite/src/utils/wallet/tests/eth.test.ts
  yarn.lock
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix creating the middlewares
  packages/suite/src/middlewares/wallet/firstMiddleware.ts
  packages/suite/src/middlewares/wallet/index.ts
  packages/suite/src/reducers/wallet/signVerifyReducer.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

rewrite log reducer to immer
  packages/suite-web/package.json
  packages/suite/src/reducers/suite/logReducer.ts
  yarn.lock
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

add ButtonPin, Change App.js to App.tsx
  packages/components/src/components/buttons/Pin/index.native.tsx
  packages/componentsStorybookNative/App.tsx
Due: install

draft of health tests
  packages/suite/jest.config.health.js
  packages/suite/package.json
  packages/suite/src/constants/onboarding/urls.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Backup/index.tsx
  packages/suite/src/views/onboarding/steps/Bookmark/index.tsx
  packages/suite/src/views/onboarding/steps/Connect/components/TroubleshootInitialized.tsx
  packages/suite/src/views/onboarding/steps/Connect/components/TroubleshootTooLong.tsx
  packages/suite/src/views/onboarding/steps/Hologram/index.tsx
  packages/suite/src/views/onboarding/steps/Newsletter/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/Start/components/Recovery.tsx
  packages/suite/test/health/urls.test.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

add Checkbox native, fix svg library in iOS
  packages/components/src/components/Checkbox/index.native.tsx
  packages/componentsStorybookNative/App.tsx
  packages/componentsStorybookNative/ios/componentsStorybookNative.xcodeproj/project.pbxproj
  packages/componentsStorybookNative/ios/componentsStorybookNative.xcodeproj/xcshareddata/xcschemes/componentsStorybookNative-tvOS.xcscheme
  packages/componentsStorybookNative/ios/componentsStorybookNative.xcodeproj/xcshareddata/xcschemes/componentsStorybookNative.xcscheme
  packages/componentsStorybookNative/ios/componentsStorybookNative/Images.xcassets/AppIcon.appiconset/Contents.json
Due: install

reorganize onboarding, part 1
  packages/suite/src/actions/onboarding/onboardingActions.ts
  packages/suite/src/components/onboarding/Wrapper/ControlsWrapper.tsx
  packages/suite/src/constants/onboarding/steps.ts
  packages/suite/src/reducers/onboarding/index.ts
  packages/suite/src/reducers/onboarding/onboardingReducer.ts
  packages/suite/src/types/onboarding/actions.ts
  packages/suite/src/types/onboarding/onboarding.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/NewOrUsed/Container.ts
  packages/suite/src/views/onboarding/steps/NewOrUsed/index.messages.tsx
  packages/suite/src/views/onboarding/steps/NewOrUsed/index.tsx
  packages/suite/src/views/onboarding/steps/SelectDevice/index.tsx
  packages/suite/src/views/onboarding/steps/Start/Container.ts
  packages/suite/src/views/onboarding/steps/Start/index.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.messages.tsx
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
  packages/suite/src/views/suite/index.tsx
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix lint
  packages/suite/src/views/onboarding/steps/Newsletter/index.tsx
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix lint final final
  packages/suite/src/views/onboarding/steps/NewOrUsed/index.tsx
  packages/suite/src/views/suite/index.tsx
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

update ripple-lib and remove duplicates from package.json
  package.json
  yarn.lock
Due: none

eslint + flow fixes
  .flowconfig
  src/ui/index.ui.js
  src/workers/blockbook/index.js
  src/workers/ripple/index.js
  src/workers/ripple/utils.js
  tests/index.js
  tests/websocket/freePort.js
  tests/workers/mock.worker.js
Due: none

blockbook: getInfo method unification
  src/types/responses.js
  src/workers/blockbook/index.js
  src/workers/blockbook/websocket.js
Due: none

add blockbook test wit fixtures
  package.json
  tests/blockbook.js
  tests/index.js
  tests/websocket/blockbook.js
  tests/websocket/fixtures/blockbook/estimateFee.json
  tests/websocket/fixtures/blockbook/getAccountInfo.json
  tests/websocket/fixtures/blockbook/getInfo.json
  tests/websocket/fixtures/blockbook/index.js
  tests/websocket/fixtures/ripple/index.js
  tests/websocket/fixtures/ripple/serverInfo.json
  tests/websocket/fixtures/ripple/subscribe.json
  tests/websocket/ripple.js
  tests/workers/mock.worker.js
Due: none

add integration test env to suite-web
  .gitlab-ci.yml
  ci/packages/components-storybook.yml
  ci/packages/suite-web.yml
  packages/suite-web/cypress.json
  packages/suite-web/package.json
  packages/suite-web/test/health/urls.test.ts
  packages/suite-web/test/integration/Pages.test.js
  packages/suite-web/test/plugins/index.js
  packages/suite-web/test/screenshots/Pages.test.js/Pages -- test root onboarding page is online (failed).png
  packages/suite-web/test/support/commands.js
  packages/suite-web/test/support/index.js
  packages/suite/package.json
  packages/suite/src/views/onboarding/steps/Welcome/index.tsx
Due: install, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix types
  packages/components-storybook/package.json
  packages/components-storybook/src/stories/components/other.tsx
  yarn.lock
Due: none

fix types 2
  packages/components/src/components/LanguagePicker/index.tsx
Due: install

fix types 3
  packages/components/src/components/LanguagePicker/index.tsx
Due: install

#171 add input native
  packages/components/src/components/inputs/Input/index.native.tsx
Due: install

#171 fix heading native
  packages/components/src/components/Heading/index.native.tsx
Due: install

fix asset prefix in build
  packages/suite-desktop/next.config.js
Due: suite-desktop lint

fix ci task name
  ci/packages/suite-web.yml
Due: none

fix cors
  packages/suite-desktop/src/electron.js
Due: suite-desktop lint

#171 fix Paragraph native, fix FONT_SIZE_NATIVE to type number
  packages/components/src/components/Paragraph/index.native.tsx
  packages/components/src/config/variables.ts
Due: install

#171 fix Link so it could be nested into P or Heading
  packages/components/src/components/Link/index.native.tsx
Due: install

#171 fix TrezorImage model number
  packages/components/src/components/TrezorImage/index.native.tsx
Due: install

various typescript fixes
  packages/suite/src/components/onboarding/Wrapper/ControlsWrapper.tsx
  packages/suite/src/views/onboarding/steps/NewOrUsed/index.tsx
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/suite/bridge/index.tsx
  packages/suite/src/views/suite/index.native.tsx
  packages/suite/src/views/suite/index.tsx
  packages/suite/src/views/wallet/account/transactions/index.tsx
  packages/suite/src/views/wallet/index.tsx
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix auth
  ci/packages/components-storybook.yml
  packages/components-storybook/test/support/commands.js
Due: none

remove auth for suite-web
  packages/suite-web/test/support/commands.js
Due: suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev

install babel-plugin-react-intl, update @babel/core
  packages/suite/babel.config.js
  packages/suite/package.json
  yarn.lock
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

add more tests
  package.json
  src/constants/errors.js
  src/ui/config.js
  src/ui/index.ui.js
  src/workers/common.js
  tests/errors.js
  tests/fixtures/ripple.json
  tests/index.js
  tests/ripple.js
  tests/websocket/fixtures/ripple/rNpM6NUAdqWvmDpB22PJ7AHTrN6nkwEEpS.json
  tests/websocket/fixtures/ripple/rfkV3EoXimH6JrG1QAyofgbVhnyZZDjWSj.json
  tests/workers.js
Due: none

add coverage
  packages/components/babel.config.js
  packages/components/jest.config.js
  packages/components/package.json
  packages/components/src/utils/tests/colors.test.js
  packages/components/src/utils/tests/icons.test.js
Due: install

fix test
  packages/suite-web/.gitignore
  packages/suite-web/test/integration/Pages.test.js
  packages/suite-web/test/screenshots/Pages.test.js/Pages -- test root onboarding page is online (failed).png
Due: suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev

remove intl plugin from suite-web babel config
  packages/suite-web/babel.config.js
Due: suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev

Path conditions:
  install: any of: packages/components/**/*, .gitlab-ci.yml
  suite lint: any of: packages/suite/**/*, .gitlab-ci.yml
  suite type check: any of: packages/suite/**/*, .gitlab-ci.yml
  suite test unit: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web lint: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web type check: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-native lint: any of: packages/suite/**/*, packages/suite-native/**/*, .gitlab-ci.yml
  suite-native type check: any of: packages/suite/**/*, packages/suite-native/**/*, .gitlab-ci.yml
  suite-desktop lint: any of: packages/suite/**/*, packages/suite-desktop/**/*, .gitlab-ci.yml
  suite-desktop type check: any of: packages/suite/**/*, packages/suite-native/**/*, .gitlab-ci.yml
